<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdd5u64dyL1xGhmqDeTvRbJJY2F051jM4</string>
	<key>GCM_SENDER_ID</key>
	<string>40822080039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.Taro.ExpenseTracker</string>
	<key>PROJECT_ID</key>
	<string>expensetracker-d7800</string>
	<key>STORAGE_BUCKET</key>
	<string>expensetracker-d7800.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40822080039:ios:7848c2e934c77158918402</string>
</dict>
</plist>